@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --cor-principal: #4285F4;   
    --cor-secundaria: #6CA8FF; 

    --fundo-escuro: #ffffff;   
    --fundo-claro: #1e1e1e;     

    --borda: #2a2a2a;

    --texto-claro: #e8eaed;    
    --texto-suave: #fdfdfd;   
}

/* GLOBAL */

body {
    background: url("../imagens/geral/fundo.jpg") no-repeat center center fixed;
    background-size: cover;
    color: var(--fundo-escuro);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px 20px;
    line-height: 1.6;
    position: relative; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55); 
    z-index: -1;
}


h1 {
    font-size: 2.4em;
    color: var(--cor-principal);
    font-weight: 600;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* SCROLL */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-principal);
    border-radius: 3px;
}
