#webcam-container,
#game-webcam-slot {
    width: 400px;
    height: 400px;
    border-radius: 12px;

    background: #0b0c0d;
    border: 3px solid rgba(77, 180, 255, 0.6);

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

    box-shadow:
        0 0 25px rgba(77, 180, 255, 0.25),
        inset 0 0 10px rgba(77, 180, 255, 0.12),
        0 2px 6px rgba(0, 0, 0, 0.6);

    transition: 0.25s ease;
}

#webcam-container:hover,
#game-webcam-slot:hover {
    box-shadow:
        0 0 34px rgba(77, 180, 255, 0.35),
        inset 0 0 14px rgba(77, 180, 255, 0.25),
        0 3px 8px rgba(0, 0, 0, 0.75);
    transform: scale(1.02);
}

/* IMAGEM DO ANIMAL  */

#animal-image-display {
    min-height: 200px;
    
    margin-top: -15px; 
    
    margin-bottom: 20px;
    padding: 10px;
    background: #000; 
    border-radius: 10px;
    border: 1px solid var(--borda); 
}

#animal-image-display img {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}