<div id="game-area" style="display:none;">
    <h2 style="color:var(--cor-principal);">Jogo: Descubra o Animal</h2>

    <div id="game-content-flex">
        
        <div id="game-controls-box" class="game-controls-box">
            <div id="game-webcam-slot">
                <span style="color:#666;">A webcam virá para cá quando o jogo iniciar...</span>
            </div>
            
            <div id="result-display-game">Aguardando sinal...</div>
            <button id="confirm-button-game" disabled>Confirmar Palpite</button>
        </div>

        <div id="game-info-box" class="game-info-box">
            <div id="animal-list-container">
                <h3 style="color:var(--cor-secundaria); text-align:center;">Animais da Rodada</h3>
            </div>
            
            <div id="game-log-display">
                <h4>📢 Log da Rodada</h4>
            </div>
        </div>
        
    </div>
</div>