<div id="game-area" style="display:none;">
    <h2>Jogo: Descubra o Animal</h2>

    <div id="game-content-flex">

        <div id="game-controls-box" class="game-controls-box">

            <div id="game-webcam-slot">
                <span>A webcam virá para cá quando o jogo iniciar...</span>
            </div>

            <div id="result-display-game">Aguardando sinal...</div>

            <button id="confirm-button-game" disabled>
                Confirmar Palpite
            </button>

        </div>

        <div id="game-info-box" class="game-info-box">

            <div id="animal-image-display">
                <p>A imagem do animal aparecerá aqui...</p>
            </div>

            <div id="animal-list-container">
                <h3>Animais da Rodada</h3>
            </div>

        </div>

    </div>

    <div id="game-log-container-full-width">
        <div id="game-log-display">
            <h4>📢 Log da Rodada</h4>
        </div>
    </div>
</div>
