<h2>Guia de Sinais Válidos</h2>

<div id="gesture-guide-container">
    <div class="gesture-item">
        <span class="number">1</span>
        <img src="./imagens/geral/um.png" alt="Um">
        <span class="name">Um</span>
    </div>

    <div class="gesture-item">
        <span class="number">2</span>
        <img src="./imagens/geral/dois.png" alt="Dois">
        <span class="name">Dois</span>
    </div>

    <div class="gesture-item">
        <span class="number">3</span>
        <img src="./imagens/geral/tres.png" alt="Tres">
        <span class="name">Três</span>
    </div>

    <div class="gesture-item">
        <span class="number">4</span>
        <img src="./imagens/geral/quatro.png" alt="Quatro">
        <span class="name">Quatro</span>
    </div>

    <div class="gesture-item">
        <span class="number">5</span>
        <img src="./imagens/geral/cinco.png" alt="Cinco">
        <span class="name">Cinco</span>
    </div>
</div>

<div id="log-display-container">
    <h3>Log de Confirmações</h3>
    <div id="log-display"></div>
</div>